QMainWindow {
    background-color: #511b18; 
}
QLabel {
    color: #E0E0E0;
    font-family: 'Segoe UI', sans-serif;
}
/* El panel lateral "flotante" */
QWidget#SidePanel {
    background-color: #511B18;
    border-right: 1px solid #333;
}
/* Botones modernos y redondeados */
QPushButton {
    background-color: #305853;
    color: #000000;
    border-radius: 8px;
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
}
QPushButton:hover {
    background-color: #B06821;
}
QPushButton:pressed {
    background-color: #1B2A30;
}
QPushButton#btn_limpiar {
    background-color: #305853; /* Rojo suave para borrar */
    color: white;
}
/* Combos estilizados */
QComboBox {
    background-color: #1B2A30;
    color: white;
    border: 1px solid #0d1518;
    border-radius: 5px;
    padding: 5px;
       
}

QComboBox QAbstractItemView {
    background-color: #1B2A30;   /* El color de fondo de la lista */
    color: #E0E0E0;              /* El color del texto de las opciones */
    selection-background-color: #B06821; /* El color naranja cuando pasas el mouse por encima */
    selection-color: #FFFFFF;    /* El color del texto seleccionado */
    outline: 0px;                /* Quita la línea punteada fea al seleccionar */
}
/* --- CAJA DEL BOTÓN DE LA FLECHA --- */
/* El área del botón de la derecha (donde va la flecha) */
QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 30px; /* Espacio reservado para la flecha */
    
    /* Línea decorativa para separar la flecha del texto */
    border-left-width: 1px;
    border-left-color: #305853;
    border-left-style: solid;
    
    /* Bordes redondeados solo a la derecha */
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
    background-color: #1B2A30; /* Mismo fondo o un poco más oscuro si quieres */
}

/* El icono de la flecha en sí */
QComboBox::down-arrow {
    /* IMPORTANTE: Qt necesita una imagen para la flecha personalizada.
       Si no tienes una imagen 'flecha.png', Qt intentará poner la del sistema.
       Como tu fondo es oscuro, la del sistema (negra) no se verá. 
       

    */
    /* La ruta de la imagen se configurará dinámicamente desde Python */
    width: 12px;
    height: 12px;

    
}


/* Lista de pasos limpia */
QListWidget {
    background-color: #481716;
    border: none;
    color: #AAAAAA;
    font-size: 13px;
}
QListWidget::item {
    padding: 8px;
    border-bottom: 1px solid #b06821;
}
QListWidget::item:selected {
    background-color: #1b2a30;
    color: #BB86FC;
}
/* La barra de estado */
QStatusBar {
    background-color: #121212;
    color: #777;
}
